body {
    background-color: #bec0c2;
    padding: 0;
    margin: 0;
    color: #0f2044;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e7e7ee;
    padding: 1% 0;
}

.header-items > a {
    text-decoration: none;
    font-size: 135%;
    color: #0f2044;
}

.search {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.search > input {
    color: #0f2044;
    font-size: 100%;
    background: transparent;
    width: 100%;
    height: 20%;
    padding: 6%;
    border: solid 2px #0f2044;
    outline: none;
    border-radius: 35px;
}

.fa-search {
    margin: 3%;
    padding: 5%;
    font-size: 400%;
    color: #0f2044;
}

.sign-up-login {
    display: flex;
    justify-content: space-around;
}

.link-button {
    background-color: #0f2044;
    padding: 10% 60%;
    margin: 0 10%;
    border-radius: 10px;
    color: #e7e7ee;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-button:hover {
    background-color: #bec0c2;
    color: #0f2044;
}

.link-button-small {
    background-color: #0f2044;
    padding: 2% 15%;
    margin: 0 10%;
    border-radius: 20px;
    color: #e7e7ee;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.link-button-small:hover {
    background-color: #bec0c2;
    color: #0f2044;
}

.items-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3% 1%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2% 6%;
}

.item .navy-button, .item .navy-button-2, .item .delete-bids{
    background-color: #0f2044;
    color: #e7e7ee;
    text-decoration: none;
    text-align: center;
    margin: 1%;
    padding: 1% 4%;
    border-radius: 10px;
}

.item .delete-bids {
    background-color: red;
}



.item .navy-button-2, .item .delete-bids {
    margin: 3%;
    padding: 3% 20%;
}


.item .navy-button:hover, .item .navy-button-2:hover{
    background-color: #ffb71b;
    color: #0f2044;
}

.item .delete-bids:hover {
    background: maroon;
    color: #e7e7ee;
}

img {
    border-radius: 20px;
}

.item img, .customer-review-item img, .bid-confirm-form img {
    width: 200px;
    height: 200px;
}

.item a, .customer_review_item a, .a-bid div p a, .customer-review-item div p a, .customer-reply-item div p a {
    color: black;
    text-decoration: none;
}

.item a:hover, .customer_review_item a:hover, .a-bid div p a:hover, .customer-review-item div p a:hover, .customer-reply-item div p a:hover {
    color: #0f2044;
    text-decoration: none;
}

.item p a:hover {
    text-decoration: underline;
}

.item-link {
    text-decoration: none;
}

.black-writing {
    color: black;
    text-decoration: none;
}

.sign-up-main, .login-main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sign-up-login-form {
    background-color: #0f2044;
    color: #e7e7ee;
    width: 30%;
    margin: 2%;
    padding: 5%;
    border-radius: 20px;
}

.sign-up-login-form img {
    height: 500px;
    width: 500px;
}

.sign-up-login-form h2 {
    font-size: 200%;
    color: #ffb71b;
}

.sign-up-login-form form {
    display: flex;
    flex-direction: column;
}

.sign-up-login-form form input {
    margin: 3%;
    padding: 2%;
    border-radius: 30px;
    font-size: 100%;
    outline: none;
    border: solid 2px #0f2044;
}

.sign-up-login-form form label {
    font-size: 125%;
}


.sign-up-login-form form div {
    display: flex;
    justify-content: center;
}

.sign-up-login-form > form > a {
    font-size: 125%;
    color: #ffb71b;
    text-decoration: none;
}

.sign-up-login-form > form > a:hover {
    color: #e7e7ee;
    text-decoration: underline;
}

.sign-log-link {
    background-color: #e7e7ee;
    text-decoration: none;
    padding: 5% 8%;
    margin: 3%;
    color: #0f2044;
    border-radius: 10px;
    border: solid 2px #0f2044;
}

.sign-log-link:hover {
    background-color: #ffb71b;
    color: #0f2044;
}

.sign-up-login-form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: solid 2px #0f2044;
    border-radius: 10px;
    padding: 0% 8%;
}

.forgot {
    color: #ffb71b;
    text-decoration: none;
    margin: 2%;
}

.forgot:hover {
    color: #bec0c2;
}

.a-bid {
    margin: 5% 15%;
    display: flex;
}

.a-bid div {
    margin: 5%;
}

.a-bid div p, .a-bid div div a{
    font-size: 175%;
}

.a-bid div div a:hover {
    background-color: #ffb71b;
    color: #0f2044;
}

.a-bid  img{
    width: 500px;
    height: 500px;
}

.profile-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-img, .profile-desc, .profile-edit {
    margin: 2%;
}

.profile-img {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.fa-user-circle {
    margin: 2%;
    font-size: 1600%;
}

.sign-up-login-form div {
    display: flex;
    justify-content: space-between;
}

.fa-trash {
    color: red;
    font-size: 300%;
    text-align: center;
}

.trash-reply .fa-trash {
    font-size: 150%;
}

.fa-pencil {
    font-size: 150%;
}

.profile-img-small {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}


.customer-review-item .fa-user-circle {
    font-size: 1200%;
}

.customer-reply-item .fa-user-circle {
    font-size: 700%;
}

.profile-top p {
    font-size: 150%;
}

.fa-gear, .fa-plus {
    color: #0f2044;
    text-decoration: none;
}

.fa-gear {
    font-size: 600%;
}

.fa-plus {
    font-size: 1400%;
}

.user-nav {
    display: flex;
    justify-content: center;
}

.user-nav a {
    margin-left: 0;
    margin-top: 1%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 2%;
    border-radius: 20px 20px 0 0;
    text-decoration: none;
}

.user-nav a:hover {
    background-color: #ffb71b;
    color: #0f2044;
}

.user-nav-highlight {
    background-color: #e7e7ee;
    color: #0f2044;
}

.user-nav-non-highlight {
    background-color: #0f2044;
    color: #e7e7ee;
}

.current-and-past-bids{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e7e7ee;
    height: 50%;
}

.current-auctions {
    display: flex;
    justify-content: center;
    background-color: #e7e7ee;
    flex-wrap: wrap;
}

.current-and-past-bids-2 {
    width: 100%;
    background-color: #e7e7ee;
}

.current-and-past-bids-2 div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.current-and-past-bids-2 h2 {
    margin: 3%;
    font-size: 200%;
}

.no-current-bids-container {
    height: 100%;
}

.no-current-bids-container a {
    color: #0f2044;
}

.no-current-bids-container a:hover {
    color: #ffb71b;
    background-color: #0f2044;
    padding: 1%;
    border-radius: 10px;
}

.no-current-bids {
    font-size: 300%;
    text-align: center;
}

.customer-review {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #e7e7ee;
}

.customer-review-item, .customer-reply-item{
    width: 80%;
    display: flex;
    margin: 2%;
    padding: 2%;
    border: 2px solid #0f2044;
    border-radius: 50px;
}



.customer-review-item img, .customer-reply-item img {
    margin: 2%;
}

.customer-reply-item {
    border: 2px solid #598ffa;
    margin: 1% 2% 1% 10%;
}

.fa-star, .fa-star-half-empty, .fa-star-o, .fa-reply {
    color: #0f2044;
    font-size: 180%;
}

.fa-reply {
    text-align: center;
}

.no-rating {
    font-size: 50%;
}

.rating-number {
    display: inline;
}

.reply {
    display: flex;
    align-items: center;
}

.reply p {
    margin: 1%;
}

.bid-confirm-form {
    display: flex;
    justify-content: space-evenly;
}

.bid-confirm-form input {
    width: 100%;
    padding: 2%;
}

.write-review-form {
    display: flex;
    justify-content: center;
    align-content: center;
}

.write-review-form img {
    margin: 3%;
    width: 200px;
    height: 200px;
}

.write-review-form textarea {
    border-radius: 15px;
}

.bid-confirm-form {
    display: flex;
    justify-content: space-evenly;
}

.bid-confirm-form input {
    width: 100%;
    padding: 2%;
}

.cancel:hover {
    background-color: red;
    color: #e7e7ee;
}

.bid:hover {
    background-color: green;
    color: #e7e7ee;
}

.cancel:hover,  {
    background-color: red;
    color: #e7e7ee;
}

.bid:hover {
    background-color: green;
    color: #e7e7ee;
}

.profile-img-small-replies {
    border-radius: 100%;
    width: 125px;
    height: 125px;
}

.profile-img-small-header {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 1%;
}

.link-header-div {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.link-header-div p {
    margin-left: 5%;
    text-decoration: none;
    color: #0f2044;
}

.link-header-div .fa-user-circle {
    font-size: 350%;
    color: #0f2044;
}


.bid-confirm-form img {
  width: 200px;
  height: 200px;
}

.delete {
    background-color: red;
    text-align: center;
    color: white;
    padding: 15%;
    text-decoration: none;
    margin: 15%;
    border-radius: 10px;
}

.delete:hover {
    background-color: maroon;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

/*.my_auctions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e7e7ee;
    padding-bottom: 3%;
}*/
