/*
UNCG colors in HEX
Navy: #0f2044
Gold: #ffb71b
Grey: #bec0c2
*/

body {
    background-color: #bec0c2;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: #0f2044;
    width: 100%;
    padding: 1% 0%;
    background-color: #e7e7ee;
    /*border-bottom: 2px solid #8f8f94;*/
}

.items-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 3% 1%;
}

.item {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 5%;
}

.small-header {
    font-size: 135%;
}

.small-header > a{
    text-decoration: none;
    color: #0f2044;
}

.search {
    width: 30%;
    display: flex;
    justify-content: start;
    align-content: center;
}

.search > input {
    color: #0f2044;
    font-size: 100%;
    background: transparent;
    width: 700px;
    height: 20px;
    padding: 6%;
    border: solid 2px #0f2044;
    outline: none;
    border-radius: 35px;
    margin-left: -200px;
}

.header-items {
    width: 15%;
    display: flex;
    justify-content: start;
    align-content: center;
}

.sign-up-login {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.link-button {
    background-color: #0f2044;
    padding: 0px 50px;
    margin: 0px 10px;
    /*border: 1px solid #0f2044;*/
    border-radius: 10px;
    color: #e7e7ee;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-button:hover {
    background-color: #bec0c2;
    color: #0f2044;
}

.sign-up-main, .login-main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sign-up-login-form {
    background-color: #0f2044;
    color: #e7e7ee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 2%;
    padding: 5%;
    border-radius: 10%;
}

.sign-up-login-form h2 {
    font-size: 200%;
    color: #ffb71b;
}

.sign-up-login-form form {
    display: flex;
    flex-direction: column;
}

.sign-up-login-form form input {
    margin: 3%;
    padding: 2%;
    border-radius: 10%;
    font-size: 100%;
    background: #e7e7ee;
    border: solid 2px #0f2044;
    outline: none;
    border-radius: 35px;
}

.sign-up-login-form form label {
    font-size: 125%;
}

.sign-up-login-form form div {
    display: flex;
    justify-content: center;
}

.sign-up-login-form form a {
    color: #ffb71b;
    margin: 1%;
    font-size: 125%;
    text-decoration: none;
    outline: none;
}

.sign-up-login-form form a:hover {
    color: #bec0c2;
}

.sign-up-login-form form div a {
    padding: 2%;
    margin: 3%;
    background-color: #e7e7ee;
    text-decoration: none;
    border-radius: 10px;
    color: #0f2044;
    outline: none;
    border: solid 2px #0f2044;
}

.sign-up-login-form form div a:hover {
    background-color: #ffb71b;
    color: #0f2044;
}

.profile-top {
    display: flex;
    justify-content: center;
}

.profile-img, .profile-desc {
    margin: 2%;
}

.profile-img {
    border-radius: 100%;
}

.profile-top p {
    font-size: 150%;
}

.user-nav {
    display: flex;
    justify-content: center;
}

.user-nav a {
    margin-left: 0%;
    margin-top: 1%;
    margin-right: 0%;
    margin-bottom: 0;
    padding: 2%;
    border-radius: 20px 20px 0 0;
    outline: none;
}

.user-nav a:hover {
    background-color: #ffb71b;
    color: #0f2044;
}

.user-nav-highlight {
    background-color: #e7e7ee;
    color: #0f2044;
    text-decoration: none;
    outline: none;
}

.user-nav-non-highlight {
    background-color: #0f2044;
    color: #e7e7ee;
    text-decoration: none;
    outline: none;
}

.current-and-past-bids {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e7e7ee;
}

.black-writing {
    color: black;
    text-decoration: none;
}

.seller-name {
    display: flex;
    align-content: center;
}

.item-link {
    text-decoration: none;
    margin: 5%;
    padding: 1%;
}

.a-bid {
    margin: 5% 15%;
    display: flex;
}

.a-bid div {
    margin: 5%;
}

.a-bid div p {
    font-size: 175%;
}

.a-bid div div a {
    font-size: 175%;
}

.a-bid div div a:hover {
    background-color: #ffb71b;
    color: #0f2044;
}

.fa-star, .fa-star-half-empty, .fa-star-o {
    color: #0f2044;
    font-size: 150%;
}

.current-and-past-bids {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.current-and-past-bids .item-link {
    margin: 3%;
    padding: 3%;
}