/*
UNCG colors in HEX
Navy: #0f2044
Gold: #ffb71b
Grey: #bec0c2
*/

body {
    background-color: #bec0c2;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: #0f2044;
    width: 100%;
    padding: 1% 0%;
    background-color: #e7e7ee;
    /*border-bottom: 2px solid #8f8f94;*/
}

.items-view {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    padding: 1%;
    width: 20%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    box-shadow: black;
}

img {
    border-radius: 5%;
}

.small-header {
    font-size: 135%;
}

.search {
    width: 30%;
    display: flex;
    justify-content: start;
    align-content: center;
}

.search > input {
    color: #0f2044;
    font-size: 100%;
    background: transparent;
    width: 700px;
    height: 20px;
    padding: 6%;
    border: solid 2px #0f2044;
    outline: none;
    border-radius: 35px;
    margin-left: -200px;
}

.header-items {
    width: 15%;
    display: flex;
    justify-content: start;
    align-content: center;
}

.sign-up-login {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.link-button {
    background-color: #0f2044;
    padding: 0px 50px;
    margin: 0px 10px;
    /*border: 1px solid #0f2044;*/
    border-radius: 10%;
    color: #e7e7ee;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
